<h2>{{"dashboard.title" | translate}}</h2>
<table class="full-container" id="trip_by_manager">
    <thead>    
      <tr>
        <th colspan="4">{{"dashboard.trip_by_manager" | translate}}</th>          
      </tr>
    </thead>     
    <tbody>  
      <tr>     
        <th scope="col" style="width:25%">{{"dashboard.avg" | translate}}</th>  
        <th scope="col" style="width:25%">{{"dashboard.min" | translate}}</th>
        <th scope="col" style="width:25%">{{"dashboard.max" | translate}}</th>  
        <th scope="col" style="width:25%">{{"dashboard.desv" | translate}}</th> 
      </tr>     
      <tr> 
        <td>Media</td>  
        <td>Minimo</td>
        <td>Maximo</td>
        <td>Desviacion</td>
      </tr> 
    </tbody>
  </table>

  <table class="full-container" id="applications_by_trip">
    <thead>    
      <tr>
        <th colspan="4">{{"dashboard.applications_by_trip" | translate}}</th>          
      </tr>
    </thead>     
    <tbody>  
      <tr>     
        <th scope="col" style="width:25%">{{"dashboard.avg" | translate}}</th>  
        <th scope="col" style="width:25%">{{"dashboard.min" | translate}}</th>
        <th scope="col" style="width:25%">{{"dashboard.max" | translate}}</th>  
        <th scope="col" style="width:25%">{{"dashboard.desv" | translate}}</th> 
      </tr>     
      <tr> 
        <td>Media</td>  
        <td>Minimo</td>
        <td>Maximo</td>
        <td>Desviacion</td>
      </tr> 
    </tbody>
  </table>

  <table class="full-container" id="price_of_trips">
    <thead>    
      <tr>
        <th colspan="4">{{"dashboard.price_of_trips" | translate}}</th>          
      </tr>
    </thead>     
    <tbody>  
      <tr>     
        <th scope="col" style="width:25%">{{"dashboard.avg" | translate}}</th>  
        <th scope="col" style="width:25%">{{"dashboard.min" | translate}}</th>
        <th scope="col" style="width:25%">{{"dashboard.max" | translate}}</th>  
        <th scope="col" style="width:25%">{{"dashboard.desv" | translate}}</th> 
      </tr>     
      <tr> 
        <td>Media</td>  
        <td>Minimo</td>
        <td>Maximo</td>
        <td>Desviacion</td>
      </tr> 
    </tbody>
  </table>

  <table class="full-container" id="applications_by_status">
    <thead>    
      <tr>
        <th colspan="4">{{"dashboard.applications_by_status" | translate}}</th>          
      </tr>
    </thead>     
    <tbody>  
      <tr>   
        <th scope="col" style="width:25%">Rejected</th>   
        <th scope="col" style="width:25%">Pending</th> 
        <th scope="col" style="width:25%">Due</th> 
        <th scope="col" style="width:25%">Accepted</th> 
      </tr>     
      <tr> 
        <td>Ratio</td>
        <td>Ratio</td>
        <td>Ratio</td>
        <td>Ratio</td>
      </tr> 
    </tbody>
  </table>

  <table class="full-container" id="price_range_in_finder">
    <thead>    
      <tr>
        <th colspan="2">{{"dashboard.price_range_in_finder" | translate}}</th>          
      </tr>
    </thead>     
    <tbody>  
      <tr>     
        <th scope="col" style="width:50%">{{"dashboard.min" | translate}}</th>
        <th scope="col" style="width:50%">{{"dashboard.max" | translate}}</th>  
      </tr>     
      <tr> 
        <td>Minimo</td>
        <td>Maximo</td>
      </tr> 
    </tbody>
  </table>

  <table class="full-container" id="top10_in_finder">
    <thead>    
      <tr>
        <th colspan="10">{{"dashboard.top10_in_finder" | translate}}</th>          
      </tr>
    </thead>     
    <tbody>  
      <tr>     
        <th scope="col" style="width:10%">1</th>   
        <th scope="col" style="width:10%">2</th> 
        <th scope="col" style="width:10%">3</th> 
        <th scope="col" style="width:10%">4</th> 
        <th scope="col" style="width:10%">5</th>   
        <th scope="col" style="width:10%">6</th> 
        <th scope="col" style="width:10%">7</th> 
        <th scope="col" style="width:10%">8</th> 
        <th scope="col" style="width:10%">9</th>   
        <th scope="col" style="width:10%">10</th> 
      </tr>     
      <tr> 
        <td>1</td>  
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>  
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>  
        <td>10</td>
      </tr> 
    </tbody>
  </table>