<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form (ngSubmit)="onLogin(f)" #f="ngForm" id="loginForm">
          <fieldset>
            <legend>{{'LOGIN.LOGIN_ACTION' | translate}}</legend>
            <div class="form-group has-danger">
              <label for="email" class="form-control-label">{{'LOGIN.EMAIL' | translate}}</label>
              <input id="email" name="email" type="text" placeholder="Introducir Email" ngModel class="form-control">
            </div>
            <div class="form-group has-danger">
              <label for="password" class="form-control-label">{{'LOGIN.PASSWORD' | translate}}</label>
              <input id="password" name="password" type="password" placeholder="Introducir Password" ngModel class="form-control">
            </div> 
            <div class="spacing">
              <button type="submit" class="btn btn-outline-primary">
                {{'LOGIN.LOGIN' | translate}}
              </button>
            </div>

            <div class="alert alert-danger" *ngIf="error_message">
              {{error_message}}
            </div>

            <div class="alert alert-success" *ngIf="success_message">
              {{success_message}}
            </div>

          </fieldset>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="register">
        <p>{{'LOGIN.NOT_ALREADY_REGISTER' | translate}}<a class="register" (click)="goRegister()"> {{'LOGIN.REGISTER_NOW' | translate}}</a></p>
      </div>
    </div>
  </div>
</div>