<div class="container text-justify">


    <h1 class="terms" style="font-size: 50px"> {{'footer.terms' | translate}} </h1>
  
    <p> {{'termsandconditions.init' | translate}} </p>
  
    <h2 class="terms"> {{'termsandconditions.first.title' | translate}} </h2>
  
    <p> {{'termsandconditions.first.description' | translate}} </p>
  
    <h1 class="terms"> {{'termsandconditions.second.title' | translate}} </h1>
    
    <p> {{'termsandconditions.second.description' | translate}} </p>
  
    <h1 class="terms"> {{'termsandconditions.third.title' | translate}} </h1>
  
    <p> {{'termsandconditions.third.description' | translate}} </p>
  
    <h1 class="terms"> {{'termsandconditions.fourth.title' | translate}} </h1>
  
    <p> {{'termsandconditions.fourth.description' | translate}} </p>
  
    <h1 class="terms"> {{'termsandconditions.fifth.title' | translate}} </h1>
  
    <p> {{'termsandconditions.fifth.description' | translate}} </p>
  
    <h1 class="terms"> {{'termsandconditions.sixth.title' | translate}} </h1>
  
    <p> {{'termsandconditions.sixth.description' | translate}} </p>
  
    <h1 class="terms"> {{'termsandconditions.seventh.title' | translate}} </h1>
  
    <p> {{'termsandconditions.seventh.description' | translate}} </p>
  
    <p> {{'termsandconditions.last' | translate}} </p>
  </div>
  