<br/>
<h3>{{'sponsorships.create' | translate}}</h3>

<app-go-back-button></app-go-back-button>

<form [formGroup]="sponsorshipForm" (ngSubmit)="onSubmit()">
  <br/>
  <div class="form-group">
    <label for="tripTicker">Trip Ticker</label>
    <input
      type="text"
      class="form-control"
      formControlName="tripTicker"
      id="tripTicker"

    />
  </div>
  <br/>

  <div class="form-group">
    <label for="page">{{'sponsorships.page' | translate}}</label>
    <input
      type="text"
      class="form-control"
      formControlName="page"
      id="page"

    />
  </div>
  <br/>

  <button type="submit" class="btn btn-primary">{{'sponsorships.confirm_sponsorship' | translate}}</button>
</form>
