<form [formGroup]="applicationForm" (ngSubmit)="onApplicationSubmit()">
    <fieldset>
        <legend>{{'applications.create' | translate}}</legend>
        <div class="form-group has-danger">
            <input type="hidden" id="status" formControlName="status" class="form-control">
        </div>
        <div class="form-group has-danger">
            <input type="hidden" id="trip_Id" formControlName="trip_Id" class="form-control">
        </div>
        <div class="form-group has-danger">
            <input type="hidden" id="explorer_Id" formControlName="explorer_Id" class="form-control">
        </div>
        <div class="form-group has-danger">
            <input type="hidden" id="tripPrice" formControlName="tripPrice" class="form-control">
        </div>

        <div formArrayName="comments" class="form-group has-danger">
            <button type="button" class="btn btn-primary" (click)="addComment()">
                <i class="fa-solid fa-plus"></i>
                {{'applications.add-comment' | translate}}</button>
            <div *ngFor="let comment of comments.controls; let i=index">
                <label for="comment-{{ i }}">
                    {{'applications.comments' | translate}}:
                    <input id="comment-{{ i }}" type="text" formControlName="{{i}}">
                </label>
                <button type="button" class="btn btn-danger" (click)="removeComment(i)">
                    <i class="fa-solid fa-trash"></i>
                    {{'applications.remove-comment' | translate}}
                </button>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">
            <i class="fa-solid fa-envelope-open-text"></i>
            {{'buttons.create' | translate}}
        </button>
    </fieldset>
</form>