.center{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.table-decoration{
    padding: 4px;
    background-color: #406554;
}

.container-dialog{
    background-color: red;
}