<div *ngIf="trip">

  <div class="row" *ngIf="activeRole == 'SPONSOR'">
    <button type="button" (click)="onSponsorshipCreate(trip)" class="btn btn-primary">
      <i class="fa-solid fa-dollar"></i>
      {{'sponsorships.create' | translate}}
    </button>
  </div>

  <div class="row" *ngIf="activeRole == 'MANAGER'" >

    <div class="col-md-2 offset-md-4">
      <button type="button" id="edit-trip" class="btn btn-info" [ngClass]="{ 'disabled' : !( getNowAndStartDateDiffInDays(trip) >= 10 ) }" routerLink="/trips/{{trip.id}}/edit/">
        <i class="fa-solid fa-edit"></i>
        {{'trips.buttons.edit' | translate}}
      </button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-success" [ngClass]="{ 'disabled' : !( !trip.isCanceled() && !trip.isPublished() ) }"
       (click)="publishTrip(trip)">
        <i class="fa-solid fa-upload"></i>
        {{'trips.buttons.publish' | translate}}
      </button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-warning" [ngClass]="{ 'disabled' : !( trip.isPublished() && !trip.isCanceled() ) }" (click)="cancelTrip(trip)">
        <i class="fa-solid fa-times"></i>
        {{'trips.buttons.cancel' | translate}}
      </button>
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-danger" [ngClass]="{ 'disabled' : !( getNowAndStartDateDiffInDays(trip) >= 10 && (!trip.isPublished() || trip.isCanceled() ) ) }" (click)="deleteTrip(trip)">
        <i class="fa-solid fa-trash"></i>
        {{'trips.buttons.delete' | translate}}
      </button>
    </div>
  </div>

  <div *ngIf="(sponsorships_loaded | async)" class="card">
    <div class="card-header" *ngIf="sponsorship">
      <img [src]="sponsorship.banner" class="card-img-top" style="max-height:500px; max-width:500px; display: block; margin-left: auto; margin-right: auto;">
      <a href="{{sponsorship.page}}" style="display: flex;justify-content: center;">{{sponsorship.page}}</a>
    </div>
  </div>

  <div class="row">
    <div class="alert alert-success" *ngIf="success_message && success_message != ''">
      {{success_message}}
    </div>

    <div class="alert alert-danger" *ngIf="error_message && error_message != ''">
        {{error_message | translate}}
    </div>
  </div>

  <div class="card">
    <div class="container">

      <ngb-carousel *ngIf="trip.getPictures().length > 0" class="card-img-top">
        <ng-template ngbSlide *ngFor="let picture of trip.getPictures()">
          <div class="wrapper">
            <img [src]="picture['picture']" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <!--
            <h3>Title Goes Here</h3>
            <p>Consectetur tortor volutpat pretium.</p>
            -->
          </div>
        </ng-template>
      </ngb-carousel>

      <img *ngIf="trip.getPictures().length == 0" src="assets/images/trips/default-trip.jpg" class="card-img-top default-trip-image" alt="...">

    </div>

    <div class="card-body">
      <h5 class="card-title">
        {{trip.getTicker()}}
        <br>
        {{trip.getTitle()}}
      </h5>
      <p class="card-text">{{trip.getDescription()}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <b>{{'trips.price' | translate}}</b>: {{trip.getPrice()}}

        <i *ngIf="priceDecreased" class="fa-solid fa-arrow-down" style="color: green;"></i>
        <i *ngIf="priceIncreased" class="fa-solid fa-arrow-up" style="color: red;"></i>

      </li>
      <li class="list-group-item"><b>{{'trips.startDate' | translate}}</b>: {{trip.getStartDate() | date: 'dd/MM/yyyy'}}</li>
      <li class="list-group-item"><b>{{'trips.endDate' | translate}}</b>: {{trip.getEndDate() | date: 'dd/MM/yyyy'}}</li>
    </ul>
    <div class="card-body">
      <button type="button" class="btn btn-primary" *ngIf="activeRole == 'EXPLORER' && trip.getStartDate().toString() > currentDateTime.toISOString() && !trip.isCanceled()"
        routerLink="/trips/{{trip.id}}/applications/new">
        <i class="fa-solid fa-envelope"></i>
        {{'applications.apply-for' | translate}}
      </button>
      <button type="button" class="btn btn-primary" *ngIf="activeRole == 'MANAGER'  && user!.id == trip.getManagerId()" routerLink="/trips/{{trip.id}}/applications/">
        <i class="fa-solid fa-envelope"></i>
        {{'applications.title-plural' | translate}}
      </button>

      <button type="button" class="btn btn-success" *ngIf="activeRole == 'EXPLORER'" routerLink="/trips/{{trip.id}}/favourites-lists">
        <i class="fa-solid fa-heart-circle-plus"></i>
        {{'trips.buttons.add-favourite' | translate}}
      </button>

    </div>
    <div class="card-body">

      <div class="card">

        <div class="card-body">

          <h5 class="card-title">{{'trips.stages' | translate}}</h5>

          <ul>
            <li *ngFor="let stage of trip.getStages(); let i=index;">

              <div class="accordion" [attr.id]="'stagesAccordion-'+i" >
                <div class="accordion-item">
                  <h2 class="accordion-header" id="statusComments">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseStages-'+i"
                      aria-expanded="true" aria-controls="collapseStages">
                      {{stage.getTitle()}}
                    </button>
                  </h2>
                </div>
                <div [attr.id]="'collapseStages-'+i"  class="accordion-collapse collapse" [attr.data-parent]="'stagesAccordion-'+i" >
                  <div class="accordion-body" >
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">{{stage.getTitle()}} - {{'trips.price' | translate}}: {{stage.getPrice()}}</li>
                      <li class="list-group-item">{{stage.getDescription()}}</li>
                    </ul>
                  </div>
                </div>
              </div>

            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>

</div>
