<div *ngIf="trip" class="card">
  <div class="container">
    <img *ngIf="trip.getPictures().length > 0" src="{{trip.getPictures()[0]}}" class="card-img-top" alt="...">
    <img *ngIf="trip.getPictures().length == 0" src="assets/images/trips/default-trip.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{trip.getTitle()}}</h5>
    <p class="card-text">{{trip.getDescription()}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Price</b>: {{trip.getPrice()}}</li>
    <li class="list-group-item"><b>Start date</b>: {{trip.getStartDate() | date: 'dd/MM/yyyy'}}</li>
    <li class="list-group-item"><b>End date</b>: {{trip.getEndDate() | date: 'dd/MM/yyyy'}}</li>
  </ul>
  <div class="card-body">
    <button type="button" class="btn btn-primary" *ngIf="activeRole == 'EXPLORER' && trip.getStartDate().toString() > currentDateTime.toISOString()"
      routerLink="/trip/{{trip.id}}/applications/new">
      <i class="fa-solid fa-envelope"></i>
      {{'applications.apply-for' | translate}}
    </button>
    <button type="button" class="btn btn-primary" *ngIf="activeRole == 'MANAGER'" routerLink="/trip/{{trip.id}}/applications/">
      <i class="fa-solid fa-envelope"></i>
      {{'applications.title-plural' | translate}}
  </button>
  </div>
</div>