<p>Available trips just for you!</p>

<div class="row">

    <div class="col-md-4 col-xs-12" *ngFor="let trip of trips">
        <div class="card">
            <img *ngIf="trip.getPictures().length > 0" src="{{trip.getPictures()[0]}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{trip.title}}</h5>
                <p class="card-text">{{trip.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Price</b>: {{trip.price}}</li>
                <li class="list-group-item"
                    [ngStyle]="getCurrentStyles(trip.start_date.toString(), currentDateTime.toISOString())">
                    <b>Start date</b>: {{trip.start_date | date: 'dd/MM/yyyy'}} 
                    <p *ngIf="getDiffDays(trip.start_date.toString(), currentDateTime.toISOString()) > 0 
                        && getDiffDays(trip.start_date.toString(), currentDateTime.toISOString()) <= 7"><b>Soon!</b></p>
                </li>
                <li class="list-group-item"><b>End date</b>: {{trip.end_date | date: 'dd/MM/yyyy'}}</li>
            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-success" routerLink="/trip/{{trip.id}}">
                    More
                </button>
                <button type="button" class="btn btn-warning">
                    Edit
                </button>
                <button type="button" class="btn btn-danger">
                    Delete
                </button>
                <button type="button" class="btn btn-primary"
                    *ngIf="activeRole == 'EXPLORER' && trip.start_date.toString() > currentDateTime.toISOString()"
                    routerLink="/trip/{{trip.id}}/applications/new">
                    <i class="fa-solid fa-envelope"></i>
                    {{'applications.apply-for' | translate}}
                </button>
                <button type="button" class="btn btn-primary" *ngIf="activeRole == 'MANAGER'"
                    routerLink="/trip/{{trip.id}}/applications/">
                    <i class="fa-solid fa-envelope"></i>
                    {{'applications.title-plural' | translate}}
                </button>
            </div>
        </div>
    </div>

</div>