
<div class="row">
    <div class="col-md-6"><p>{{'trips.messages.trips-available' | translate}}</p></div>
    <div class="col-md-3 offset-md-3" *ngIf="showAddTripButton">
        <button type="button" class="btn btn-success" routerLink="/trips/add">
            <i class="fa-solid fa-plus"></i>
            {{'trips.buttons.add' | translate}}
        </button>
    </div>
</div>

<div class="row">

    <div class="col-md-3">
    
        <div class="input-group mb-3">
            <input type="text" class="form-control" [(ngModel)]="keyword" >
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="search()">
                <i class="fa fa-search" aria-hidden="true"></i>
                {{'trips.search' | translate}}
            </button>
        </div>
    
    </div>
</div>

<div class="row ">

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li *ngFor="let page of pages" class="page-item" >
                <a href="javascript:void(null)" class="page-link" (click)="getTrips(page)" >{{page}}</a>
            </li>
        </ul>
    </nav>

</div>

<div class="row">

    <div class="col-md-4 col-xs-12" *ngFor="let trip of trips">
        <div class="card">
            <img *ngIf="trip.getPictures().length > 0" src="{{trip.getPictures()[0]['picture']}}" class="card-img-top" alt="...">
            <img *ngIf="trip.getPictures().length == 0" src="assets/images/trips/default-trip.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{trip.getTitle()}}</h5>
                <p class="card-text">{{trip.getDescription() | slice:0:20}} ...</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>{{'trips.price' | translate}}</b>: {{trip.getPrice()}}</li>
                <li class="list-group-item"
                    [ngStyle]="getCurrentStyles(trip.getStartDate().toString(), currentDateTime.toISOString())">
                    <b>{{'trips.startDate' | translate}}</b>: {{trip.getStartDate() | date: 'dd/MM/yyyy'}}
                    <p *ngIf="getNowAndStartDateDiffInDays(trip) > 0 && getNowAndStartDateDiffInDays(trip) <= 7"><b>Soon!</b></p>
                </li>
                <li class="list-group-item"><b>{{'trips.endDate' | translate}}</b>: {{trip.getEndDate() | date: 'dd/MM/yyyy'}}</li>
                <li class="list-group-item"><b>{{'trips.starting' | translate}}</b>: {{countDownTimer(trip.getStartDate().toString())}}</li>

            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-success" routerLink="/trips/{{trip.id}}">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    {{'trips.buttons.more' | translate}}
                </button>
                <button type="button" class="btn btn-primary"
                    *ngIf="activeRole == 'EXPLORER' && trip.getStartDate().toString() > currentDateTime.toISOString() && !trip.isCanceled()"
                    routerLink="/trips/{{trip.id}}/applications/new">
                    <i class="fa-solid fa-envelope"></i>
                    {{'applications.apply-for' | translate}}
                </button>
                <button type="button" class="btn btn-primary" *ngIf="activeRole == 'MANAGER' && user!.id == trip.getManagerId()"
                    routerLink="/trips/{{trip.id}}/applications/">
                    <i class="fa-solid fa-envelope"></i>
                    {{'applications.title-plural' | translate}}
                </button>
                <button type="button" class="btn btn-success" *ngIf="activeRole == 'EXPLORER' && !checkTripInFavourites(trip)" (click)="favouriteTrip(trip)">
                    <i class="fa-solid fa-heart-circle-plus"></i>
                    {{'trips.buttons.add-favourite' | translate}}
                </button>
                <button type="button" class="btn btn-danger" *ngIf="activeRole == 'EXPLORER' && checkTripInFavourites(trip)" (click)="favouriteTrip(trip)">
                    <i class="fa-solid fa-heart-circle-xmark"></i>
                    {{'trips.buttons.remove-favourite' | translate}}
                </button>
            </div>
        </div>
    </div>

</div>
