<div *ngIf="application" class="card">
    <div class="card-body">
      <h5 class="card-title">{{application.id}}</h5>
      <p class="card-text"><b>{{'applications.status.title' | translate}}</b>: {{application.status}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>{{'applications.actor-id' | translate}}</b>: {{application.actor}}</li>
      <li class="list-group-item"><b>{{'applications.trip-id' | translate}}</b>: {{application.trip}}</li>
      <div class="accordion" id="commentsAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="statusComments">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComments"
                    aria-expanded="true" aria-controls="collapseComments">
                    {{'applications.comments' | translate}}
                </button>
            </h2>
        </div>
        <div id="collapseComments" class="accordion-collapse collapse" data-parent="commentsAccordion">
            <div class="accordion-body" *ngFor="let comment of application.comments; let i=index">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>
                <li class="list-group-item">{{comment}}</li>
                <li class="list-group-item"></li>
              </ul>
            </div>
        </div>
    </div>
    </ul>
</div>
