@import '/src/app/theme/variables.scss';

*{
    box-sizing: border-box;
    
}

html{
    height: 100%;
}

body{
    background-color: var(--background);
    padding: 20px;
    height: 100vh;
    color: var(--font-color);
    .card, nav{
        background-color: var(--background);
        .card-body{
            background-color: var(--background);
            color: var(--font-color);
            border-color: var(--font-color);
        }
    }
    p,h1,h2,h3,h4,h5,legend,label{
        color: var(--font-color);
    }
}

