<div class="row center">
  <div class="col-md-4 col-xs-12">
    <div class="card mt-4" *ngIf="actor">
      <img src="assets/images/user-nano.jpg" class="card-img-top" alt="..." />
      <div class="card-body" >
        <h5 class="card-title"><b>{{'actor.name' | translate}}: </b>{{actor.name}}</h5>
        <p class="card-text"><b>{{'actor.surname' | translate}}: </b>{{actor.surname}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <b>{{'actor.email' | translate}}:</b> {{actor.email}}
        </li>
        <li class="list-group-item">
          <b>{{'actor.address' | translate}}:</b> {{actor.address}}
        </li>
        <li class="list-group-item">
          <b>{{'actor.role.title' | translate}}:</b> {{actor.role}}
        </li>
        <li class="list-group-item">
          <b>{{'actor.phone_number' | translate}}:</b> {{actor.phone}}
        </li>
        <li class="list-group-item">
            <button class="btn btn-success"><i class="fa-solid fa-pencil"></i>{{'trips.buttons.edit' | translate}}</button>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-go-back-button></app-go-back-button>